<?xml version="1.0" encoding="utf-8"?>
<service version="1.0">
	<short>serviio</short>
	<description>Serviio Server</description>
	<port port="8895" protocol="udp"/>
	<port port="8895" protocol="tcp"/>
	<port port="1900" protocol="udp"/>
	<port port="1900" protocol="tcp"/>
	<port port="23423" protocol="udp"/>
	<port port="23423" protocol="tcp"/>
	<port port="23424" protocol="udp"/>
	<port port="23424" protocol="tcp"/>
</service>
